* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Style */

body {
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    background-image: url(intersection.png);
    color: #333;
}


.top-bar {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    background-color: #c4c4c4;
    border-bottom: 3px solid navy;
    z-index: 99;
}

.container {
    width: 960px;
    margin: 80px auto;
    background-color: #fff;
    position: relative;
}

.header {
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul {
    font-size: 40px;
    font-weight: bold;
}

.header ul li {
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
}

.header a {
    text-decoration: none;
    color: cadetblue;
    padding: 3px;
    transition: 0.3s;
}

.header a:hover {
    background-color: navy;
    color:turquoise;
}

.hero {
    height: 350px;
    background-image: url(sirius.jpg);
    background-size: cover;
    background-position: -7px -158px;
    border-top: 5px solid navy;
    border-bottom: 5px solid #c4c4c4;
}

.main {
    width: 650px;
    padding: 20px;
    box-sizing: border-box;
    float: left;
    text-align: justify;
}

.main h2 {
    font-size: 25px;
    font-weight: bold;
}

.main h1 {
    font-size: 30px;
    font-weight: 500;
}

.main h6 {
    text-align: right;
    font-size: 12px;
    font-style: italic;
}

.main .penulis {
    font-size: 11px;
    margin-top: -5px;
}

.main .penulis a {
    color:  navy;
    text-decoration: none;
}

.footer {
    background-color: #333;
    padding: 10px;
}

.footer .copy {
    color: #eaeaea;
    text-align: center;
    font-size: 12px;
}

.footer img {
    padding: 8px;
    overflow: hidden;
    transition: 0.2s;
    height: 25px;
    width: 25px;
 }
 
 .footer img:hover {
     transform: translateY(-10%);
 }
 

.main p {
    margin-bottom: 20px;
    font-size: 14px;
}

.main .sir {
    margin-top: 30px;
    margin-bottom: 15px;
}

.sidebar {
    width: 250px;
    float: right;
    padding: 20px;
    text-align: justify;
}

.sidebar h3 {
    font-weight: bold;
    color: #666;
}

.sidebar img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    float: left;
    padding: 10px;
    border-radius: 50%;
}

.sidebar p {
    font: 12px/18px arial;
}

/* micro clearfix*/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
